<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>lya后台管理</title>
    <link rel="icon" type="image/ico" href="__PUBLIC__/images/favicon.ico" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- ============================================
    ================= Stylesheets ===================
    ============================================= -->
    <!-- vendor css files -->
    <link href="__PUBLIC__/assets/css/dpl-min.css?v=__VERSION__" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/assets/css/bui-min.css?v=__VERSION__" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/assets/css/main-min.css?v=__VERSION__" rel="stylesheet" type="text/css" />
    <!-- ==========================================
    ================= Modernizr ===================
    =========================================== -->
    <script type="text/javascript" src="__PUBLIC__/assets/js/jquery-1.11.2.js?v=__VERSION__"></script>
    <script type="text/javascript" src="__PUBLIC__/assets/js/bui.js?v=__VERSION__"></script>
    <script type="text/javascript" src="__PUBLIC__/assets/assets/js/config.js?v=__VERSION__"></script>
</head>
  {__CONTENT__}
<body>
</body>
</html>